
<style type="text/css">
	.clevrev-theme2-wrapper{
		width: 100%; 
	    height: inherit;
		position: relative;
		padding: 40px 20px; 
		background: #e4e9ef;
		font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	}
	.clevrev-theme2-title{
		text-align: center;
		font-weight: 600;
		margin-bottom: 20px;
	}
	.clevrev-theme2-review{
		background: #fff; 
		padding: 20px; 
		margin-bottom: 15px; 
		box-shadow: 1px 1px 5px rgba(181, 181, 181, 0.6); 
		border-radius: 6px;
		text-align: center; 
		color: #8899a6;
		font-size: 14px;
	}
	.clevrev-theme2-widget{
		overflow-y: scroll;
		height: calc(100% - 20px);
	}
	.clevrev-theme2-widget::-webkit-scrollbar {
	    width: 12px;
	    background-color: #F5F5F5;
	}
	.clevrev-theme2-widget::-webkit-scrollbar-thumb {
	    border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	    background-color: #a5aab1;
	}
	.clevrev-theme2-widget::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	    border-radius: 10px;
	    background-color: #F5F5F5;
	}
	.clevrev-theme2-review-title{
		font-weight: 600; 
		padding-bottom: 5px;
	}
	.clevrev-theme2-review-rating{
		padding-bottom: 5px;
		color: #efe36c;
	    font-size: 20px;
		line-height: 1;
	}
	.clevrev-theme2-review-author{
		padding-bottom: 5px;
	}
	.clevrev-theme2-review-statement p{
		margin: 0px;
	}
</style>
<div class="clevrev-theme2-wrapper">
	<h3 class="clevrev-theme2-title">{{widget_name}}</h3>
	<div class="clevrev-theme2-widget">
		{% if reviews and reviews is iterable %}
			{% for rev in reviews %}
				<article class="clevrev-theme2-review">
					<div class="clevrev-theme2-review-title">{{rev.title}}</div>
					<div class="clevrev-theme2-review-rating" data-rating="{{rev.rating}}">
						{% for i in range(1, rev.rating) %}
							<span data-id="{{i}}">★</span>
						{% endfor %}
					</div>
					<div class="clevrev-theme2-review-author">by {{rev.author}}</div>
					<div class="clevrev-theme2-review-statement">
						<p>{{rev.review}}</p>
					</div>
				</article>
			{% endfor %}
		{% endif %}
	</div>	
</div>
